In [1]:
import pandas as pd

In [2]:
# read the page to extract the data
df = pd.read_html('https://www.w3schools.com/python/python_ml_getting_started.asp')

In [9]:
# extracting just the first data on the list df and assigning it to df
df = df[0]

In [11]:
# rename the columns
df = df.rename({0:'Carname', 1:'Color', 2:'Age', 3:'Speed', 4:'AutoPass'}, axis=1)

In [14]:
# show the first 5 rows
df.head()

   Carname  Color  Age  Speed  AutoPass
0  Carname  Color  Age  Speed  AutoPass
1      BMW    red    5     99         Y
2    Volvo  black    7     86         Y
3       VW   gray    8     87         N
4       VW  white    7     88         Y

In [24]:
# remove the first row of the dataframe
# select all rows excluding the first row and assign it back to the dataframe
df = df.loc[1:]

In [25]:
# show the first rows of the dataframe
df.head()

  Carname  Color Age Speed AutoPass
1     BMW    red   5    99        Y
2   Volvo  black   7    86        Y
3      VW   gray   8    87        N
4      VW  white   7    88        Y
5    Ford  white   2   111        Y

In [27]:
# save to a csv file
df.to_csv('data/dataset.csv', index=False)

In [30]:
df['Color'].value_counts()

Color
white    5
gray     3
red      2
black    2
blue     1
Name: count, dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 1 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Carname   13 non-null     object
 1   Color     13 non-null     object
 2   Age       13 non-null     object
 3   Speed     13 non-null     object
 4   AutoPass  13 non-null     object
dtypes: object(5)
memory usage: 652.0+ bytes

In [40]:
df = df.astype({'Speed':'int64', 'Age':'int64'})

In [45]:
df[df.Age < 9]

   Carname  Color  Age  Speed AutoPass
1      BMW    red    5     99        Y
2    Volvo  black    7     86        Y
3       VW   gray    8     87        N
4       VW  white    7     88        Y
5     Ford  white    2    111        Y
7    Tesla    red    2    103        Y
9    Volvo   gray    4     94        N
13  Toyota   blue    6     86        Y