In [12]:
from numpy import random
import numpy as np
import pandas as pd

In [116]:
# generate 2-D array with 3 rows, each containing 5 elements from 0 to 100
arr1 = random.randint(100, size=(4,5))
arr1

array([[47, 50, 34, 13, 73],
       [20, 54, 86, 61, 96],
       [62, 16, 50, 64, 46],
       [74, 83, 18, 13, 70]])

In [163]:
headers = ['English', 'Math', 'Science', 'Lang', 'PE']
names = ['Obi', 'Noel', 'Noah', 'Ethan']
data = arr1
df = pd.DataFrame(data, index=names)
df.columns = headers

In [110]:
# Another way to achieve same result
# df = pd.DataFrame(data, columns=headers)
# df['Names'] = names

In [164]:
df['Total'] = df.apply(get_total, axis=1)

In [165]:
df['Avg'] = df.apply(get_avg, axis=1)

In [149]:
def get_total(df):
    return df['English'] + df['Math'] + df['Science'] + df['Lang'] + df['PE']

In [162]:
def get_avg(df):
    #return round(((df['English'] + df['Math'] + df['Science'] + df['Lang'] + df['PE'])/(df.shape[0] + 1)),2)
    return round(df['Total']/(data.shape[0] + 1), 2)

In [166]:
df

       English  Math  Science  Lang  PE  Total   Avg
Obi         47    50       34    13  73    217  43.4
Noel        20    54       86    61  96    317  63.4
Noah        62    16       50    64  46    238  47.6
Ethan       74    83       18    13  70    258  51.6