In [1]:
import pandas as pd

In [2]:
mydataset = {
    'cars': ["BMW", "Volov", "Ford"],
    'passings': [3,7,2]
}
myvar = pd.DataFrame(mydataset)
myvar

    cars  passings
0    BMW         3
1  Volov         7
2   Ford         2

In [3]:
pd.__version__

'2.0.3'