Data Cleaning
This mean fixing bad data in your data set.
Bad data can be;
Empty cells
Data in wrong formats
Wrong data
Duplicates

In [5]:
import pandas as pd

In [34]:
df = pd.read_csv('data/data.csv')

In [21]:
# df # original length here is 169

In [15]:
df1 = df.dropna() # drop rows with empty cells and returns a new dataframe without changing the original one

In [16]:
new_df = df.copy()

In [22]:
new_df.dropna(inplace=True) # removes all rows with Null cells

In [25]:
# The fillna() method allows us to replace empty cells with a value:
# Replace NULL values with number 130
df.fillna(130, inplace=True)
# Replace only for a specfic column
# df["Calories"].fillna(130, inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

Replace using the Mean, Medium and Mode Values
A common way to replace empty cells, is to calculate the mean, median or mode value of the column.
Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

In [33]:
x = df["Calories"].mean()
df["Calories"].fillna(x, inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [43]:
df['Calories'].median()

318.6

In [45]:
df['Calories'].mode()[0]

300.0