In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('data/data.csv') # read a csv file
pd.options.display.max_rows = 200 # increase the number of rows display
df.loc[[5,12,30]] # select the index to display

    Duration  Pulse  Maxpulse  Calories
5         60    102       127     300.0
12        60    106       128     345.3
30        60     92       115     243.0