In [1]:
import pandas as pd

In [27]:
pd.options.display.max_rows = 200
df = pd.read_json('data/data.js')
mylist = [2,4,6,8,10]
df.loc[mylist]

    Duration  Pulse  Maxpulse  Calories
2         60    103       135     340.0
4         45    117       148     406.0
6         60    110       136     374.0
8         30    109       133     195.1
10        60    103       147     329.3

Dictionary as json
JSON objects has the same format as Python Dictionaries.
If your JSON code is not in a file, but in a Python Dictionary, you can load it into a DataFrame directly:

In [7]:
data1 = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

In [19]:
df = pd.DataFrame(data1)
df[["Maxpulse","Calories"]] # displays column
df[0:4] # returns rows 0 and 1

   Maxpulse  Calories
0       130       409
1       145       479
2       135       340
3       175       282
4       148       406
5       127       300