In [1]:
import pandas as pd

# Read a .csv from a URL with Pandas
Target website: https://www.football-data.co.uk/data.php

In [2]:
# reading 1 csv file from the website
df_premier24 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2324/E0.csv')

In [3]:
# showing dataframe
df_premier24.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88

In [5]:
# rename columns
df_premier24 = df_premier24.rename(columns={'Date':'date',
                                            'HomeTeam':'home_team',
                                            'AwayTeam':'away_team',
                                            'FTHG':'home_goals',
                                            'FTAG':'away_goals'})

In [6]:
# show dataframe
df_premier24

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,E0,20/01/2024,12:30,Arsenal,Crystal Palace,5,0,H,2,0,...,2.14,-1.50,1.78,2.03,1.85,2.08,1.85,2.12,1.83,2.05
204,E0,20/01/2024,17:30,Brentford,Nott'm Forest,3,2,H,1,1,...,1.94,-0.75,1.99,1.91,2.01,1.92,2.07,1.93,1.99,1.86
205,E0,21/01/2024,14:00,Sheffield United,West Ham,2,2,D,1,1,...,1.83,0.00,2.02,1.91,2.02,1.91,2.12,1.91,2.02,1.85
206,E0,21/01/2024,16:30,Bournemouth,Liverpool,0,4,A,0,0,...,2.90,0.75,2.03,1.90,2.03,1.89,2.09,1.91,1.99,1.86
207,E0,22/01/2024,19:45,Brighton,Wolves,0,0,D,0,0,...,2.32,-0.75,1.84,2.09,1.85,2.09,1.90,2.11,1.82,2.03

# Read HTML
Target Website: https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)

In [7]:
simpsons = pd.read_html('https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)')

In [17]:
simpsons[22].head()

    0                                                  1
0 NaN  Season 21–present This list has been split for...

In [18]:
world_pop = pd.read_html('https://en.wikipedia.org/wiki/World_population')

In [26]:
len(world_pop)

30