In [12]:
from numpy import random
import numpy as np
import pandas as pd

In [34]:
# generate 2-D array with 3 rows, each containing 5 elements from 0 to 100
arr1 = random.randint(100, size=(4,5))
arr1

array([[ 6, 93,  2, 74, 94],
       [72, 37, 89, 61, 17],
       [22, 18, 71, 40, 88],
       [60, 18, 43, 32, 31]])

In [102]:
headers = ['English', 'Math', 'Science', 'Lang', 'PE']
names = ['Obi', 'Noel', 'Noah', 'Ethan']
data = arr1
df = pd.DataFrame(data, index=names)
df.columns = headers

In [103]:
df

       English  Math  Science  Lang  PE
Obi          6    93        2    74  94
Noel        72    37       89    61  17
Noah        22    18       71    40  88
Ethan       60    18       43    32  31

In [106]:
df['Total'] = df.apply(get_total, axis=1)

In [107]:
df['Avg'] = df.apply(get_avg, axis=1)

In [104]:
def get_total(df):
    return df['English'] + df['Math'] + df['Science'] + df['Lang'] + df['PE']

In [105]:
def get_avg(df):
    return round(((df['English'] + df['Math'] + df['Science'] + df['Lang'] + df['PE'])/df.shape[0]),2)

In [108]:
df

       English  Math  Science  Lang  PE  Total    Avg
Obi          6    93        2    74  94    269  44.83
Noel        72    37       89    61  17    276  46.00
Noah        22    18       71    40  88    239  39.83
Ethan       60    18       43    32  31    184  30.67