Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
Series is like a column, a DataFrame is the whole table.

In [1]:
import pandas as pd

In [17]:
# Create a DataFrame for two Series
data = {
    'Calories': [420, 380, 390],
    'Duration': [50, 40, 45]
}
# load data into a DataFrame object
myvar = pd.DataFrame(data)
myvar

   Calories  Duration
0       420        50
1       380        40
2       390        45

In [18]:
myvar.loc[2] # refers to a row index and return a pandas Series

Calories    390
Duration     45
Name: 2, dtype: int64

In [19]:
myvar.loc[[0,1]] # return a pandas Dataframe

   Calories  Duration
0       420        50
1       380        40

Name Index
With index argument, you can name your own indexes

In [22]:
df = pd.DataFrame(data, index=['Day 1', 'Day 2', 'Day 3'])
df

       Calories  Duration
Day 1       420        50
Day 2       380        40
Day 3       390        45

Locate Named Index
Use the named index in the loc attribute to return the specified row(s).

In [26]:
df.loc["Day 3"]

Calories    390
Duration     45
Name: Day 3, dtype: int64